* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
  }

.navbar {
  background: #131313;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
  }

  #logo {
    background-color: #bfff00f4;
    background-image: linear-gradient(to top, #04fc00b8 0%, #e7eecdb7 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
  }

  .menu {
    display: flex;
    align-items: center;
    list-style: none;
  }

  .item {
    height: 80px;
  }

  .links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
  }
  
  
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #833ab4;
    background: linear-gradient(to right, #3f53d1, #161436);
    color: #fff;
    transition: all 0.3s ease;
  }

  .links:hover {
    color: #9518fc;
    transition: all 0.3s ease;
  }

  /* Text Section */
  .Text {
    background: #000000;
    background: linear-gradient(to right, #161616, #000000);
    padding: 200px 0;
  }

  .text__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 30px;
  }
  
  .text__heading {
    font-size: 100px;
    margin-bottom: 24px;
    color: #fff;
  }
  
  .text__heading span {
    background: #9e0599; 
    background: linear-gradient(to right, #716b7c, #451e61); 
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -mo-text-fill-color: transparent;
  }
  
 /* Login Section */
.main {
    background-color: #131313;
    padding: 10rem 0;
  }
  
 

input[type=text], input[type=password] {   
    position: inherit;
     width: 100%;   
     margin: 8px 0;  
     padding: 12px 20px;   
     display: inline-block;   
     border: 2px solid green;   
     box-sizing: border-box;   
 }  

 .login__container {
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 500px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(0, 0, 0);
    background-image: linear-gradient(to right, #4a4c4c 0%, #400241 100%);
 }

 input[type=submit] {
    display: grid;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 10%;
    width: 20%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #833ab4;
    background: linear-gradient(to right, #3f53d1, #161436);
    color: #fff;
    transition: all 0.3s ease;
 }



  
  
  
  
 
